In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2022-07-28 01:09:28,42.6001,-73.9662,296.38,70,100,0.72
1,1,Santa Isabel Do Rio Negro,BR,2022-07-28 01:11:28,-0.4139,-65.0192,296.72,90,100,0.87
2,2,Atuona,PF,2022-07-28 01:11:29,-9.8000,-139.0333,297.75,77,18,10.00
3,3,Bandar-E Lengeh,IR,2022-07-28 01:11:29,26.5579,54.8807,304.42,71,85,7.11
4,4,Yar-Sale,RU,2022-07-28 01:11:30,66.8333,70.8333,287.19,67,100,4.53

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.8)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent Windiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 250
What is the maximum temperature you would like for your trip? 300

In [11]:
max_temp

300.0

In [12]:
min_temp

250.0

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

In [14]:
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2022-07-28 01:09:28,42.6001,-73.9662,296.38,70,100,0.72
1,1,Santa Isabel Do Rio Negro,BR,2022-07-28 01:11:28,-0.4139,-65.0192,296.72,90,100,0.87
2,2,Atuona,PF,2022-07-28 01:11:29,-9.8000,-139.0333,297.75,77,18,10.00
4,4,Yar-Sale,RU,2022-07-28 01:11:30,66.8333,70.8333,287.19,67,100,4.53
5,5,Severo-Kurilsk,RU,2022-07-28 01:11:30,50.6789,156.1250,286.10,86,95,3.04
6,6,Lagoa,PT,2022-07-28 01:11:31,39.0500,-27.9833,295.04,81,0,4.07
9,9,Saldanha,ZA,2022-07-28 01:08:18,-33.0117,17.9442,285.60,68,0,1.87
10,10,Mataura,NZ,2022-07-28 01:11:33,-46.1927,168.8643,281.75,99,100,1.35
13,13,Nikolskoye,RU,2022-07-28 01:07:58,59.7035,30.7861,287.09,95,0,2.01
14,14,Busselton,AU,2022-07-28 01:06:51,-33.6500,115.3333,287.70,70,61,4.86

In [15]:
preferred_cities_df.count()

City_ID       426
City          426
Country       422
Date          426
Lat           426
Lng           426
Max Temp      426
Humidity      426
Cloudiness    426
Wind Speed    426
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                         City Country  Max Temp      Lat       Lng Hotel Name
0                      Albany      US    296.38  42.6001  -73.9662
1   Santa Isabel Do Rio Negro      BR    296.72  -0.4139  -65.0192
2                      Atuona      PF    297.75  -9.8000 -139.0333
4                    Yar-Sale      RU    287.19  66.8333   70.8333
5              Severo-Kurilsk      RU    286.10  50.6789  156.1250
6                       Lagoa      PT    295.04  39.0500  -27.9833
9                    Saldanha      ZA    285.60 -33.0117   17.9442
10                    Mataura      NZ    281.75 -46.1927  168.8643
13                 Nikolskoye      RU    287.09  59.7035   30.7861
14                  Busselton      AU    287.70 -33.6500  115.3333

In [35]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}


# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

KeyboardInterrupt:

In [37]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Albany,US,296.38,42.6001,-73.9662,
1,Santa Isabel Do Rio Negro,BR,296.72,-0.4139,-65.0192,Hotel GSA
2,Atuona,PF,297.75,-9.8000,-139.0333,Villa Enata
4,Yar-Sale,RU,287.19,66.8333,70.8333,Yalemd
5,Severo-Kurilsk,RU,286.10,50.6789,156.1250,Kak Doma
...,...,...,...,...,...,...
552,Kangavar,IR,294.62,34.5043,47.9653,خانه معلم کنگاور
554,Okhotsk,RU,291.01,59.3833,143.3000,
555,Tema,GH,298.38,5.6670,-0.0166,Beulah Royale Hotel Tema
556,Dzerzhinskoye,RU,287.96,56.8344,95.2283,Kolos
557,San Carlos,VE,295.87,9.6612,-68.5827,Hotel Paternopoli

In [40]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [42]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [43]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))